.term {
    font-size: 64px;
}
.definition {
    font-size: 36px;
}
.editterm {
    font-size: 24px;
}
.editdefinition {
    font-size: 18px;
}
.decktitle {
    font-size: 24px;
    font-weight: bold;
}
