[Desktop Entry]
Type=Application
Version=1.0
Name=Flash Cards
Comment=Flash Cards
Keywords=Education;FlashCards;Learn;Learning;
Exec=flash-cards
Icon=${SNAP}/icon.png
Terminal=false
Categories=Education;
